@model FitnessTech.Models.Gym

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class=" ">
    <hr />

    <dl class="dl-horizontal well">
        <dt>
            @Html.DisplayNameFor(model => model.GymName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GymName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
      
    </dl>
    <h4>Contact Information</h4>
    <dl class="dl-horizontal well">
        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>  
    </dl>
    <h4>Location</h4>
    <dl class="dl-horizontal well">
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>       
    </dl>
    <h4>Instructors</h4>
    <dl class="dl-horizontal well">       
        <dt>
            Instructor Count
        </dt>
        <dt>
            Instructors
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employees.Count)
        </dd>
        <dd>
            
            @foreach (var employee in Model.Employees)
            {
                @Html.DisplayFor(model => employee.FullName)
            }
        </dd>
    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GymId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
