@model FitnessTech.ViewModels.GymIndexViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h2>Gyms</h2>

    @using (Html.BeginForm())
    {

        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Search</button>
            </span>
            @Html.TextBox("SearchString", null, new { @class = "form-control" })
        </div>
    }
    <hr />
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <div class="list-group-item">
                    <a asp-action="Create">Create New</a>


                </div>

            </div>
            @using (Html.BeginForm("Index", "Employees", FormMethod.Get))
        {
            <div class="list-group">
                <h4>Sort By</h4>

                <div class="list-group-item">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["GymNameSort"]">Gym Name</a>

                </div>
                <div class="list-group-item">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CountrySort"]">Country</a>

                </div>


            </div>
    }



        </div>
        <div class="col-md-10">

            <table class="table table-striped table-hover">
                
                <tbody>
                    @foreach (var item in Model.Gyms)
                {
                    <tr>
                        <td>

                            <div class="row">
                                <div class="col-md-3">
                                    @if (item.AvatarImage != null)
                                    {

                                        var base64 = Convert.ToBase64String(item.AvatarImage);
                                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                                        <a asp-action="Details" asp-route-id="@item.GymId">
                                            <img src='@imgsrc' style="max-width: 150px; max-height: 150px;" alt="image" />
                                        </a>
                                    }else
                                    {
                                        <a asp-action="Details" asp-route-id="@item.GymId">
                                            <img src="~/images/gymPin2.png" style="max-width: 150px; max-height: 150px" alt="image" />
                                        </a>


                                    }

                                </div>
                                <div class="col-md-9">

                                    <a asp-action="Details" asp-route-id="@item.GymId">
                                        <h3>@Html.DisplayFor(modelItem => item.GymName)</h3>
                                    </a>
                                    <p>@Html.DisplayFor(modelItem => item.Street), @Html.DisplayFor(modelItem => item.PostalCode)</p>

                                    <p>@Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.Country)</p> 

                                   
                                </div>

                            </div>


                        </td>
                        <td>
                            <div class="row">
                                <div class="col-md-12">


                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3">
                                    <h6>Website:</h6>
                                </div>
                                <div class="col-md-9">
                                    <h6> @Html.DisplayFor(modelItem => item.Website)</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>Phone:</h6>
                                </div>
                                <div class="col-md-9">
                                    <h6> @Html.DisplayFor(modelItem => item.PhoneNumber)</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>Email:</h6>
                                </div>
                                <div class="col-md-9">
                                    <h6> @Html.DisplayFor(modelItem => item.Email)</h6>
                                </div>
                            </div>
                             
                        </td>
                       
                       
                    </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
    </div>
