@model FitnessTech.ViewModels.WorkoutProgramViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>@Html.DisplayFor(model => model.WorkoutProgramName)</h1>
    <h4>@Html.DisplayFor(model => model.WorkoutProgramDescription)</h4>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.WorkoutProgramId">Edit</a> |
        <a asp-action="Delete" asp-route-id="@Model.WorkoutProgramId">Delete</a>
    </div>
    <hr/>

    <h3 style="text-align: center">Training split</h3>
    @foreach (var item in Model.WorkoutAssigments)
    {
        <h4>
            <a asp-action="Details" asp-controller="Workouts" asp-route-id="@item.Workout.WorkoutId">@Html.DisplayFor(modelItem => item.Workout.WorkoutName)</a>
            | @Html.DisplayFor(modelItem => item.Workout.WorkoutType.WorkoutTypeName)
        </h4>
        <table class="table table-striped table-hover">

            <tbody>
            @{
            }
            @foreach (var exercise in item.Workout.ExerciseAssigments)
            {
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-6">
                                @if (exercise.Exercise.AvatarImage != null)
                                {
                                    var base64 = Convert.ToBase64String(exercise.Exercise.AvatarImage);
                                    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                                    <img src='@imgsrc' style="max-width: 300px; max-height: 300px" alt="image"/>
                                }else
                                {
                
                                    <img src="~/images/dumbbell.png" style="max-width: 300px; max-height: 300px" alt="image"/>

                                }
                            </div>
                            <div class="col-md-6">
                                <h4>
                                    <a asp-action="Details" asp-controller="Exercises" asp-route-id="@exercise.Exercise.ExerciseId">@Html.DisplayFor(modelItem => exercise.Exercise.ExerciseName)</a>
                                </h4>
                                <h6>@Html.DisplayFor(modelItem => exercise.Exercise.MuscleGroup)</h6>
                            </div>
                            <div class="col-md-6">
                                @{
                                    string Desc = @exercise.Exercise.ExerciseDescription;
                                }
                                @if (Desc.Length > 250)
                                {
                                    Desc = Desc.Substring(0, 250) + "...";
                                }

                                @Desc<br/>
                                <a asp-action="Details" asp-controller="Exercises" asp-route-id="@exercise.Exercise.ExerciseId">Read more</a>
                            </div>
                        </div>
                       
                    </td>

                   
                </tr>
            }



            </tbody>
        </table>
    }
    <br/>


</div>