@model FitnessTech.ViewModels.WorkoutProgramIndexData
@{
    ViewData["Title"] = "Index";
}
<div class="container">
<h2>Workout Programs</h2>

@using (Html.BeginForm())
{

    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Search</button>
        </span>
        @Html.TextBox("SearchString", null, new { @class = "form-control" })
    </div>
}
    <hr />
<div class="row">
    <div class="col-md-2 ">
        <div class="list-group">
            <div class="list-group-item">
                <a asp-action="Create">Create New</a>


            </div>

        </div>
        <div class="list-group">
            <h4>Sort By</h4>

            <div class="list-group-item">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["WPNameSort"]">Workout Program Name</a>

            </div>
                

        </div>
    </div>
    <div class="col-md-10">

        <table class="table table-striped table-hover">
    
            <tbody>
            @foreach (var item in Model.WorkoutPrograms)
            {
            
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-6">
                                <a asp-action="Details" asp-route-id="@item.WorkoutProgramId">
                                    <h3>@Html.DisplayFor(modelItem => item.WorkoutProgramName)</h3>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <h6>@Html.DisplayFor(modelItem => item.WorkoutProgramDescription)</h6>

</div>
                          
                               
                        </div>                   
                    </td>
                    

                    <td>
                        <div class="row">
                            <div class="col-md-4">
                                <h6>Training split:</h6>
                            </div>
                            <div class="col-md-8">

                                @{
                                    foreach (var workout in item.WorkoutAssigments)
                                    {
                                        <a asp-action="Details" asp-controller="Workouts" asp-route-id="@workout.Workout.WorkoutId">
                                            @workout.Workout.WorkoutName
                                        </a>
                                        <br/>

                                    }
                                }
                            </div>
                               
                        </div>
                        

                       
                    </td>
              

                </tr>
            }

            </tbody>
        </table>
    </div>
</div>
</div>
