@using FitnessTech.Controllers
@model FitnessTech.Data.Entities.Exercise

@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <h2> @Html.DisplayFor(model => model.ExerciseName)</h2>
    <div>

        <a asp-action="Edit" asp-route-id="@Model.ExerciseId">Edit</a> |
        <a asp-action="Delete" asp-route-id="@Model.ExerciseId">Delete</a>
    </div>

    <hr />

        <div class="row">
            <div class="col-md-6 ">
                <div class="well">
                    @if (Model.AvatarImage != null)
    {
        var base64 = Convert.ToBase64String(Model.AvatarImage);
        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                <img src='@imgsrc' style="max-width: 450px; max-height: 300px" alt="image" class="center-block" />

}
                    else
{
                
                <img src="~/images/dumbbell.png" style="max-width: 450px; max-height: 300px" alt="image" class="center-block" />

}

                </div>



            </div>

       

            <div class="col-md-6">
                <div class="row well">
                    <h4 style="display: inline-block">Classification</h4>
                    <div class="well">
                        <dl class="dl-horizontal">

                            <dt>
                                @Html.DisplayNameFor(model => model.Level)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Level)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.MuscleGroup)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.MuscleGroup)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Mechanics)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Mechanics) 
                            </dd>
                           
                            <dt>
                                @Html.DisplayNameFor(model => model.Equipment)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Equipment)
                            </dd>
                          
                        </dl>
                    </div>
                </div>
            </div>
           


        </div>
        
        <div class="row well">
            <h4 style="display: inline-block">How to perform</h4>

            <div class="well">
                @Html.DisplayFor(model => model.ExerciseDescription) 

            </div>

        </div>

    </div>

 

