@model FitnessTech.Models.Workout

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkoutName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkoutName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkoutType.WorkoutTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkoutType.WorkoutTypeName)
        </dd>
        <dt>
            Exercises
        </dt>
        
        <dd>
            <table class="table table-striped table-hover">
                <thead>
                <tr>      
                    <th>
                        Exercise Name
                    </th>
                    <th>
                        Exercise Description
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.ExerciseAssigments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Exercise.ExerciseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Exercise.ExerciseDescription)
                        </td>
                    </tr>
                }

                </tbody>
            </table>
           
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WorkoutId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
