@model IEnumerable<FitnessTech.Data.Entities.Product>

@{
    ViewData["Title"] = "Shop";
}

<div class="container">
    <h2>Shop</h2>

    <p>We have @Model.Count() products in stock</p>
    <hr />
    @foreach (var m in Model)
    {
        <div class="col-md-3">
            <div class="well well-sm">
                <img src="~/images/@(m.SupplementId).png" class="img-responsive" alt="@m.Title" />
                <h3 style="color: #33B1EF">@m.Title - @m.Category</h3>
                <ul class="custom-bullet">
                    <li>@m.SupplementDescription</li>
                    <li>By: @m.Producer</li>
                    <li>Net wt: @m.Size</li>
                </ul>
                <div class="row">
                    <div class="col-xs-6">
                        <button id="buyButton" class="btn btn-info">Buy</button>
                    </div>
                    <div class="col-xs-6">
                        <p style="color: #33B1EF" class="bottom-align-text">Price: @m.Price</p>

                    </div>

                </div>
            </div>
        </div>

    }
</div>
