@model FitnessTech.ViewModels.WorkoutTypeIndexData

@{
    ViewData["Title"] = "Index";
}
<div class="container">
<h2>Workout Types</h2>

@using (Html.BeginForm())
{

    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Search</button>
        </span>
        @Html.TextBox("SearchString", null, new { @class = "form-control" })
    </div>
}
    <hr />
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">

                <div class="list-group-item">
                    <a asp-action="Create">Create New</a>

                </div>
               
            </div>
            <div class="list-group">

                <div class="list-group-item">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSort"]">Sort By Workout Type</a>

                </div>
               
            </div>
        </div>
        <div class="col-md-10">

            <table class="table table-striped table-hover">

                <tbody>
                @foreach (var item in Model.WorkoutTypes)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.WorkoutTypeId">    
                                <h4>@Html.DisplayFor(modelItem => item.WorkoutTypeName)</h4>
                            </a>

                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.WorkoutTypeId">    
                                @Html.DisplayFor(modelItem => item.WorkoutTypeDescription)
                            </a>
                        </td>

                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

</div>