@model IEnumerable<FitnessTech.Models.WorkoutType>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm())
{

    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search</button>
        </span>
        @Html.TextBox("SearchString", null, new { @class = "form-control" })
    </div>
}
<hr />
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSort"]">@Html.DisplayNameFor(model => model.WorkoutTypeName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutTypeDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkoutTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkoutTypeDescription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.WorkoutTypeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.WorkoutTypeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.WorkoutTypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
