@model FitnessTech.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="">
    <hr/>
    <h4>Basic Information</h4>
    <dl class="dl-horizontal well">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
    </dl>
    <h4>Contact Information</h4>
    <dl class="dl-horizontal well">

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
    </dl>

    <h4>Education</h4>
    <dl class="dl-horizontal well">
        <dt>
            @Html.DisplayNameFor(model => model.Certification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Certification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Specialization)
        </dd>
    </dl>
    <h4>Work Location</h4>
    <dl class="dl-horizontal well">
        <dt>
            @Html.DisplayNameFor(model => model.Gym.GymName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gym.GymName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gym.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gym.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gym.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gym.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gym.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gym.Street)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
